@mixin font-face($font-name, $font-weight, $font-style, $font-path) {
  @font-face {
    font-family: $font-name;
    font-weight: $font-weight;
    font-style: $font-style;
    src: url($font-path);
  }
}
$font-path: "~/assets/fonts/";

@include font-face("FiraCode", 400, normal, $font-path + "FiraCode-Regular.ttf");
@include font-face("FiraCode", 500, normal, $font-path + "FiraCode-Medium.ttf");
@include font-face("FiraCode", 600, normal, $font-path + "FiraCode-SemiBold.ttf");
@include font-face("FiraCode", 700, normal, $font-path + "FiraCode-Bold.ttf");
@include font-face("FiraCode", 300, normal, $font-path + "FiraCode-Light.ttf");
