@keyframes rainbow {
  0% {
    color: #ff5b5b;
  }
  15% {
    color: #ff7f00;
  }
  30% {
    color: #ffff00;
  }
  45% {
    color: #00ff00;
  }
  60% {
    color: #8c8cfd;
  }
  75% {
    color: #c067ff;
  }
  90% {
    color: #c745ff;
  }
  100% {
    color: #ff5b5b;
  }
}

.main-page{
  &__info {
    margin-top: 30px;
    border-bottom: 1px solid #cccccc;
    padding: 5px;
    text-align: center;
  }
  &__title {
    animation: rainbow 6s ease-in-out infinite;
    text-transform: uppercase;
  }
  
  &__about {
    text-transform: uppercase;
    color: #ff5b5b;
  }
  

}